<table class="ui celled table">
  <thead>
    <tr>
      <th
        *ngFor="let field of config?.columndFields"
        [hidden]="!field.isVisble">
        {{field?.columnDisplayName}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datum">
      <td *ngFor="let field of config?.columndFields">
        <div *ngIf="field?.type === 'string'" [hidden]="!field.isVisble">
          {{data[field?.columnName]}}
        </div>
        <div *ngIf="field?.type === 'number'" [hidden]="!field.isVisble">
          {{data[field?.columnName] |number : '1.1-2'}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
