<div class="ui card">
  <div class="image" *ngFor="let field of columnFields | filterType: 'image'">
    <img [hidden]="!field.isVisble" [src]="'https://dummyimage.com/600x400/db0d66/fff&text='+ (data[field?.columnName] || 'img')">
  </div>
  <div class="content">
    <div class="description">
      <p [hidden]="!field.isVisble" *ngFor="let field of columnFields | filterType: 'string'">
        <strong>{{field?.columnDisplayName}}:</strong> {{data[field?.columnName]}}
      </p>
    </div>
  </div>
  <div class="extra content"></div>
</div>
